language: scala

jdk: oraclejdk8

scala:
   - 0.1.2-RC1
   - 0.2.0-RC1

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt

before_cache:
  # Cleanup the cached directories to avoid unnecessary cache updates
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete

script:
   - sbt ++$TRAVIS_SCALA_VERSION test
